# Project for Week3 Q1

In [2]:
import pandas as pd

In [3]:
# Read Dataframe from html and extract the first table
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Manhattan_neighborhoods')[0]

In [4]:
# Check the structure of the dataset
df.head()

,Name of the neighborhood,Limits south to north and east to west
0,Upper Manhattan,Above 96th Street
1,Marble Hill,Physically located on the mainland
2,Inwood,Above Dyckman Street
3,Fort George (part of Washington Heights),East of Broadway between 181st Street and Dyck...
4,Washington Heights,155th Street to Dyckman Street

In [4]:
# Drop the Not Assigned Postal code
df_clean = df[df['Borough']!='Not assigned']

In [5]:
# Replace the seperator with comma
df_clean['Neighborhood'] = [x.replace('/',',') for x in df_clean['Neighborhood']]

C:\Users\Jay31415\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
# Check the shape of DataFrame
df_clean.shape

(103, 3)

In [7]:
# Group by the Neighborhood sharing same postal code and Borough
df_clean = df_clean.groupby(["Postal code","Borough"]).agg(lambda column: ",".join(column)).reset_index()

In [8]:
# Check the Neighborhood with Not assigned value
df_clean[df_clean['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [11]:
df_clean.head(10)

  Postal code      Borough                                       Neighborhood
0         M1B  Scarborough                                    Malvern , Rouge
1         M1C  Scarborough           Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough                Guildwood , Morningside , West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
7         M1L  Scarborough                  Golden Mile , Clairlea , Oakridge
8         M1M  Scarborough  Cliffside , Cliffcrest , Scarborough Village West
9         M1N  Scarborough                       Birch Cliff , Cliffside West

In [9]:
# Check the shape of the final DataFrame
df_clean.shape

(103, 3)

In [10]:
df_clean.to_csv('postal_code.csv')